@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* root */
:root {
    /* Variables */
    --color-background: white;
    --color-accent: #f4007e;
    --color-accent-d1: #EACA49;
    --color-accent-d2: #c8c8c8;

    /* Font */
    font-size: 16px;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
    color: white;


}

/* Utility classes */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

/* Global Styles */

body {
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
}

h1,
h2,
h3{
    font-weight: 700;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

.site {
    min-width: 375px;
    max-width: 1080px;
    width: 100%;
    
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 2.5rem;
}

article img{
    max-width: 600px;
    height: auto;
    align-self: center;
}

ol{
    padding-left: 3rem;
}

/* Menu */
.menu {
    position: fixed;
    min-width: 200px;
    max-width: 840px;
   
    display: flex;
    flex-direction: column;
    align-self: center;

    margin-top: 2rem;
    
    padding: 0 2.5rem 0 2.5rem;

    border-radius: 30px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.menu h3 {
    font-weight: 700;
    color: #000;
}

.menu__content {
    max-height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    transition: max-height 0.3s ease-in-out;
}

.menu__section {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu__section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.menu__section-clubs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
}

.menu__link {
    text-decoration: none;
    color: #000;
}

.menu__link:hover,
.menu__link:focus-visible {
    text-decoration: underline 10% var(--color-accent);
}

.menu:has([type="checkbox"]:checked) .menu__content {
    max-height: calc(100dvh - 10rem);
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: var(--color-accent) transparent;
}

/* Burger Menu */
.menu input[type="checkbox"] {
    display: none;
}

.menu__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* width: 100%; */
    box-sizing: border-box;
}

.menu__top-logo {
    height: 50px;
    width: auto;
    max-width: none;
}

.menu__top-burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 32px;
    height: 32px;
}

.menu__burger-line {
    width: 80%;
    height: 3px;
    border-radius: 2px;
    background-color: #D92898;
}

.menu__top-burger label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu__top-burger label:before,
.menu__top-burger label:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #731551;
    transition: transform 0.3s ease-in-out;
}

.menu:has([type="checkbox"]:checked) .menu__top-burger label:before {
    transform: translateY(8px) rotate(45deg);
}

.menu:has([type="checkbox"]:checked) .menu__top-burger label:after {
    transform: translateY(-8px) rotate(-45deg);
}

.menu:has([type="checkbox"]:checked) .menu__burger-line {
    opacity: 0;
}

.menu__content-competitions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}

.menu__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;
    width: 5.75rem;
    /* height: 2.5rem; */
    color: #000;
    font-size: 1.25rem;
    /* font-weight: 500; */
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem 0;
}

.menu__button.d1,
.menu__button.dg {
    border: 1px solid var(--color-accent-d1);
}

.menu__button.d1:hover,
.menu__button.d1:focus-visible,
.menu__button.dg:hover,
.menu__button.dg:focus-visible {
    background-color: var(--color-accent-d1);
}

.menu__button.d2 {
    border: 1px solid var(--color-accent-d2);
}

.menu__button.d2:hover,
.menu__button.d2:focus-visible {
    background-color: var(--color-accent-d2);
}

.menu__button span {
    font-size: 0.7rem;
    justify-self: top;
}

.menu__button p{
    justify-self: center;
    align-self: center;
}

.club__logo {
    width: 50px;
    height: auto;
}

.club__logo:hover,
.club__logo:focus-visible {
    transform: scale(1.1);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0.25rem 0;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section__row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 290px;
    max-width: 1000px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.12);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 1rem;
    overflow: hidden;
}

.section__subtitle {
    font-weight: 600;

}

.row__score {
    display: grid;
    grid-template-columns: 1fr auto 3.5rem auto 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    padding: 0.25rem 0;
}

.row__score span:first-child {
    text-align: right;
}

.row__score span:nth-child(3){
    text-align: center;
}

.row__score .club__logo {
    width: 30px;
    height: auto;
}

.details-toggle {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: var(--color-background);
}

.details-toggle label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem;
    cursor: pointer;
}

.details-toggle input[type="checkbox"] {
    display: none;
}

.section__row:has([type="checkbox"]:checked) .row__details {
    max-height: 700px;
    padding: 1.5rem 0 0.5rem 0;
}

.section__row:has([type="checkbox"]:checked) .details-toggle{
    border-top: 2px solid rgba(255, 255, 255, 0.12);
}

.section__row:has([type="checkbox"]:checked) .details-toggle img{
    /* transform: rotate(180deg); */
    transform: scaleY(-1);
}

.row__score-details img{
    width: 16px;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.row__details{
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: rgba(0, 0, 0, 0.12); */
    background-color: var(--color-background);
}

.row__details p {
    text-align: center;
    line-height: 1.5rem;
}

.partner__logo{
    height: 60px;
    width: auto;
}

article img {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.club__jersey {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.125rem;
}

.club__jersey img{
    width: 50px;
    height: auto;
}

.row__map {
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.row__map:hover,
.row__map:focus-visible {
    background-color: rgba(255, 255, 255, 1);
    color: var(--color-background);
}

@media (width <= 460px) {
    :root{
        font-size: 12px;    
    }

    .site{
        max-width: 300px;
    }

    h1{
        font-size: 2.5rem;
    }

    .menu{
        max-width: 360px;
    }

    .section{
        width: auto;
    }

    .menu__section-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}