@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* root */
:root {
    --color-background: linear-gradient(0deg, #B75900 100%, #FF7C00 0%);
    font-size: 16px;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "HEXP" 0;
    height: 100dvh;
    /* width: 100dvw; */

    color: white;

    --color-accent-d1: #EACA49;
}

/* Global Styles */

body {
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3{
    color: var(--color-accent-d1);
    font-weight: 700;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

.site {
    min-width: 375px;
    max-width: 1080px;
    width: 100%;
    
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
}

/* Menu */
.menu {
    position: fixed;
    min-width: 200px;
    max-width: 720px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-self: center;

    margin-top: 2rem;
    
    padding: 0 2.5rem 0 2.5rem;

    border-radius: 30px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.menu h3 {
    font-weight: 700;
    color: #000;
}

.menu__content {
    max-height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    gap: 2rem;
    transition: max-height 0.3s ease-in-out;
}

.menu__section {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu__section>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
}

.menu__section-clubs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.25rem;
}

.menu__link {
    text-decoration: none;
    color: #000;
}

.menu__link:hover,
.menu__link:focus {
    text-decoration: underline 10% rgb(244, 0, 126);
}

.menu:has([type="checkbox"]:checked) .menu__content {
    max-height: calc(100dvh - 10rem);
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #D92898 transparent;
}

/* Burger Menu */
.menu input[type="checkbox"] {
    display: none;
}

.menu__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.menu__top-logo {
    height: 50px;
    width: auto;
    max-width: none;
}

.menu__top-burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 32px;
    height: 32px;
}

.menu__burger-line {
    width: 80%;
    height: 3px;
    border-radius: 2px;
    background-color: #D92898;
}

.menu__top-burger label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu__top-burger label:before,
.menu__top-burger label:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #731551;
    transition: transform 0.3s ease-in-out;
}

.menu:has([type="checkbox"]:checked) .menu__top-burger label:before {
    transform: translateY(8px) rotate(45deg);
}

.menu:has([type="checkbox"]:checked) .menu__top-burger label:after {
    transform: translateY(-8px) rotate(-45deg);
}

.menu:has([type="checkbox"]:checked) .menu__burger-line {
    opacity: 0;
}

.menu__content-competitions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    gap: 2rem;
}

.menu__content-competitions a{
    display: grid;
    place-content: center;
}

.menu__content-competitions img {
    width: 85px;
    height: auto;
}

.club__logo {
    width: 50px;
    height: auto;
}

.club__logo:hover{
    transform: scale(1.1);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section__row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 1rem;
    overflow: hidden;
}

.section__row:has([type="checkbox"]:checked) .row__details {
    max-height: 700px;
}

.row__score {
    display: grid;
    grid-template-columns: 1fr 50px 100px 50px 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
}

.row__score span:first-child {
    text-align: right;
}

.row__score span:nth-child(3){
    text-align: center;
}

.details-toggle {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
}

.details-toggle label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.details-toggle input[type="checkbox"] {
    display: none;
}

.row__details{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

@media (width <= 460px) {
    .menu{
        width: auto;
    }

    .menu__content-competitions {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu__content-competitions img {
        width: 70px;
    }

    .menu__section>div {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}